@font-face {
    font-family: 'Norse Bold';
    src: url('assets/fonts/norsebold-webfont.woff') format('woff'),
         url('assets/fonts/norsebold-webfont.woff2') format('woff2');
}




*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
    background-image: url(pastel-aura.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    font-family: 'Norse Bold';
}

.container {
    flex: 1;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.logo img {
    width: 50px;
}

.form {
    background-color: rgba(255, 255, 255, .1);
}