@font-face {
    font-family: 'Norse Bold';
    src: url('assets/fonts/norsebold-webfont.woff') format('woff'),
         url('assets/fonts/norsebold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    src: url('assets/fonts/rubik-regular-webfont.woff') format('woff'),
         url('assets/fonts/rubik-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Valentime';
    src: url('assets/fonts/valentime-webfont.woff') format('woff'),
         url('assets/fonts/valentime-webfont.woff2') format('woff2');
}


*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  background-image: url(assets/images/aura-gradient.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  flex-wrap: wrap;
}

.container {
  flex: 1;
    
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: 'Norse Bold';
}


.logo img {
  width: max(10%, 2rem);
}

.logo h1 {
  font-size: clamp(2rem, 10vh, 9.375rem);
  color: white;
}

.form {
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-shadow: inset 5.5px -5px 10px -9px #dddddd;
  justify-content: center;
  color: white;
  font-family: 'Rubik';
}

form {
  width: min(70%, 500px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50vh;
  align-content: space-evenly; 
  gap: 15px;
  height: 100vh;
}

h2 {
  font-size: clamp(32px, 10vh, 150px);
  margin-top: clamp(48px, 10vh, 120px);
  font-family: 'Valentime';
}

p {
  font-size: 20px;
  margin-bottom: 1.5em;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 2px;
}

input {
  width: 220px;
  border-radius: 7px;
  height: 35px;
  border: none;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: inset 0 0 8px -3.5px #dddddd;

}

button {
  margin: 0 auto;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #1074e7;
  background-color: rgba(198, 254, 129, .3);
  font-size: 20px;
  box-shadow: 0 0 22px -10px #1074e7;
}